.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.logo {
  font-family: 'Aleo', serif;
  font-size: 1.1rem;
}

.nav-menu {
  
  font-size: 0.85rem; 
}

.font-aleo-header {
  font-family: 'Aleo', serif;
}